.Rproj.user
.Rhistory
.RData
sandbox/150214_GenotypesRefAnimals.txt
sandbox/GenotipiVolkovi.Dec2014.35loc.txt
sandbox/K2.outfile
sandbox/MonkSealAllelesOLD.RData
sandbox/RelatednessCI95.Txt
sandbox/RelatednessEstimates.Txt
sandbox/allele_loc_list.pdf
sandbox/clumpp_volk.txt
sandbox/refa.csv
sandbox/sloGK_genepop.txt
sandbox/test.txt
sandbox/zaromana.RData
