exportPattern("^[[:alpha:]]+")
importFrom(adegenet, other)
importFrom(adegenet, genind2df)
importFrom(adegenet, locNames)
importFrom(adegenet, indNames)
importFrom(adegenet, df2genind)
importFrom(magrittr,"%>%")
importFrom(adegenet, nInd)
importFrom(adegenet, nLoc)